.top-shell {
    min-height: 100vh;
}

.top-bar {
    background: #085db2;
    padding: 0.85rem 1rem;
    text-align: center;
}

.top-bar__title {
    font-weight: 700;
    font-size: 1.1rem;
    /* color: #111111; */
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--maskbg);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
    z-index: 999;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    color: #06c755;
    /* สีเขียว LINE */
}

:host ::ng-deep .spinner-overlay .p-progressspinner {
    width: 64px;
    height: 64px;
}